<!-- メインビジュアル -->
<div class="mv">
  <video playsinline autoplay muted loop>
    <source src="https://cdn.shopify.com/videos/c/o/v/bd109d32e3104ea2ba46d8fdf802c6bf.webm" type="video/webm" />
    <source src="https://cdn.shopify.com/videos/c/o/v/bd109d32e3104ea2ba46d8fdf802c6bf.mp4" type="video/mp4" />
  </video>
  <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/logo.png" alt=""></div>
  <div class="scrolldown u-sp">
    <span>SCROLL DOWN</span>
    <!-- <div class="line"></div> -->
  </div><!-- /.scroll -->
</div><!-- /.mv -->

<section class="p-top_wrap01">

  <div class="header-wrap">
    {% include 'top-header' %}
  </div>

  <div class="banner-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'banner-top01' %}

          <div class="swiper-slide img-box b-rudius">
            <a href="{{ block.settings.link_banner }}">
              <picture>
                <source srcset="{{ block.settings.image_banner_sp | img_url: 'master' }}" media="(max-width: 769px)">
                <img src="{{ block.settings.image_banner_pc | img_url: 'master' }}" alt="">
              </picture>
            </a>
          </div>

        {% endif %}
      {% endfor %}

    </div><!-- /.swiper-wrapper -->
  </div><!-- /.banner-slider -->

  <div class="inner">
    <div class="head-ttl">
      <p class="sub-ttl anime-ttl01">Enjoy, House de BBQ!</p>
      <h2 class="fadeIn">美味しく楽しむ、お家バーベキュー</h2>
    </div>
    <p class="txt fadeIn">
      美味しい、楽しい、BBQを最高のものに。<br>
      BBQ文化が濃い沖縄の、<br class="u-sp">肉のプロが厳選したBBQにぴったりのお肉。<br>
      スーパーでは手に入りにくい最高のお肉で、<br class="u-sp">最高のBBQ体験をお楽しみください！
    </p>
    <div class="btn-wrap fadeIn"><a href="/pages/about/" class="btn01">ABOUT</a></div>
  </div><!-- /.inner-->

</section><!-- /.p-top_wrap01 -->

<section class="p-top_wrap02">
  <div class="inner">
    <div class="spin-txt img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/ashirai_txt-circle.png" alt=""></div>
    <div class="head-ttl">
      <p class="sub-ttl anime-ttl01">RECOMMEND</p>
      <h2 class="fadeIn">スタッフ一推し</h2>
    </div><!-- /.head-ttl -->

    <div class="recommend-swiper fadeIn">
      <div class="swiper-wrapper">

      {% for block in section.blocks %}
        {% if block.type == 'recommend-item' %}
          {% assign product = all_products[block.settings.recommend-item] %}
            <div class="swiper-slide box">
              <div class="left">
                <p class="ttl">{{ product.title }}</p>
                <p class="price">{{ product.price | money_with_currency }}(税込)</p>
                <div class="add-cart">
                  <form action="/cart/add" method="post">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <button class="cart-btn01" type="submit">
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.125 18.25C18.7217 18.25 19.294 18.4871 19.716 18.909C20.1379 19.331 20.375 19.9033 20.375 20.5C20.375 21.0967 20.1379 21.669 19.716 22.091C19.294 22.5129 18.7217 22.75 18.125 22.75C17.5283 22.75 16.956 22.5129 16.534 22.091C16.1121 21.669 15.875 21.0967 15.875 20.5C15.875 19.2512 16.8762 18.25 18.125 18.25ZM0.125 0.25H3.80375L4.86125 2.5H21.5C21.7984 2.5 22.0845 2.61853 22.2955 2.82951C22.5065 3.04048 22.625 3.32663 22.625 3.625C22.625 3.81625 22.5687 4.0075 22.49 4.1875L18.4625 11.4663C18.08 12.1525 17.3375 12.625 16.4938 12.625H8.1125L7.1 14.4588L7.06625 14.5938C7.06625 14.6683 7.09588 14.7399 7.14863 14.7926C7.20137 14.8454 7.27291 14.875 7.3475 14.875H20.375V17.125H6.875C6.27826 17.125 5.70597 16.8879 5.28401 16.466C4.86205 16.044 4.625 15.4717 4.625 14.875C4.625 14.4813 4.72625 14.11 4.895 13.795L6.425 11.0388L2.375 2.5H0.125V0.25ZM6.875 18.25C7.47174 18.25 8.04403 18.4871 8.46599 18.909C8.88795 19.331 9.125 19.9033 9.125 20.5C9.125 21.0967 8.88795 21.669 8.46599 22.091C8.04403 22.5129 7.47174 22.75 6.875 22.75C6.27826 22.75 5.70597 22.5129 5.28401 22.091C4.86205 21.669 4.625 21.0967 4.625 20.5C4.625 19.2512 5.62625 18.25 6.875 18.25ZM17 10.375L20.1275 4.75H5.9075L8.5625 10.375H17Z" fill="white"/>
                      </svg>
                      カートに入れる
                    </button>
                  </form>
                </div>
                <div class="btn-wrap"><a href="{{ product.url }}" class="btn01">VIEW DETAIL</a></div>
              </div><!-- /.left -->
              <div class="right img-box obj-fit">
                <picture>
                  <source srcset="{{ product.featured_image.src | img_url: 'master' }}" media="(max-width: 769px)">
                  <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.title }}">
                </picture>
              </div><!-- /.right -->
            </div><!-- /.box -->
      
        {% endif %}
      {% endfor %}


      </div><!-- /.swipr-wrapper -->

    </div><!-- /.recommend-swiper -->

    <div class="swiper-button-next"></div>

  </div>
</section><!-- /.p-top_wrap02 -->

<section class="p-top_wrap03 layer">
  <div class="inner">
    <div class="head-ttl">
      <p class="sub-ttl anime-ttl01">RANKING</p>
      <h2 class="fadeIn">人気ランキング</h2>
    </div><!-- /.head-ttl -->

    <ul class="ranking-swiper fadeIn">
      <div class="swiper-wrapper">

      {% for product in collections.all.products limit: 5 %}
        <li class="item-card swiper-slide">
          <a class="h-scale" href="{{ product.url }}">
            <div class="img-box obj-fit"><img src="{{ product.featured_image.src | img_url: 'master' }}" alt=""></div>
            <p class="cate">
              {% for collection in product.collections %}
                {% assign excluded_collections = 'all,tax,' | split: ',' %}
                {% comment %} {% unless excluded_collections contains collection.handle %} {% endcomment %}
                {% unless excluded_collections contains collection.handle or collection.handle contains 'price' %}
                  {{ collection.title }}
                {% endunless %}
              {% endfor %}
            </p>
            <p class="name">{{ product.title }}</p>
            <p class="price">{{ product.price | money }}（税込）</p>
          </a>
          <div class="add-cart">
            <form action="/cart/add" method="post">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <input type="hidden" name="quantity" value="1">
              <button type="submit">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.125 18.25C18.7217 18.25 19.294 18.4871 19.716 18.909C20.1379 19.331 20.375 19.9033 20.375 20.5C20.375 21.0967 20.1379 21.669 19.716 22.091C19.294 22.5129 18.7217 22.75 18.125 22.75C17.5283 22.75 16.956 22.5129 16.534 22.091C16.1121 21.669 15.875 21.0967 15.875 20.5C15.875 19.2512 16.8762 18.25 18.125 18.25ZM0.125 0.25H3.80375L4.86125 2.5H21.5C21.7984 2.5 22.0845 2.61853 22.2955 2.82951C22.5065 3.04048 22.625 3.32663 22.625 3.625C22.625 3.81625 22.5687 4.0075 22.49 4.1875L18.4625 11.4663C18.08 12.1525 17.3375 12.625 16.4938 12.625H8.1125L7.1 14.4588L7.06625 14.5938C7.06625 14.6683 7.09588 14.7399 7.14863 14.7926C7.20137 14.8454 7.27291 14.875 7.3475 14.875H20.375V17.125H6.875C6.27826 17.125 5.70597 16.8879 5.28401 16.466C4.86205 16.044 4.625 15.4717 4.625 14.875C4.625 14.4813 4.72625 14.11 4.895 13.795L6.425 11.0388L2.375 2.5H0.125V0.25ZM6.875 18.25C7.47174 18.25 8.04403 18.4871 8.46599 18.909C8.88795 19.331 9.125 19.9033 9.125 20.5C9.125 21.0967 8.88795 21.669 8.46599 22.091C8.04403 22.5129 7.47174 22.75 6.875 22.75C6.27826 22.75 5.70597 22.5129 5.28401 22.091C4.86205 21.669 4.625 21.0967 4.625 20.5C4.625 19.2512 5.62625 18.25 6.875 18.25ZM17 10.375L20.1275 4.75H5.9075L8.5625 10.375H17Z" fill="white"/>
                </svg>
                カートに入れる
              </button>
            </form>
          </div>
        </li>
      {% endfor %}

      </div><!-- /.swiper-wrapper -->
      <div class="swiper-scrollbar"></div>
    </ul>

    <div class="btn-wrap fadeIn"><a href="/collections/all/" class="btn01">VIEW ALL</a></div>
  </div>
</section><!-- /.p-top_wrap03 -->

<section class="p-top_wrap04 layer">
  <div class="inner">
    <div class="block fadeIn">
      <div class="head-ttl">
        <p class="sub-ttl anime-ttl01">OUR PRIDE</p>
        <h2>私たちがBBQにこだわる理由</h2>
      </div><!-- /.head-ttl -->
      <div class="btn-wrap"><a href="/pages/about#pride" class="btn01">VIEW DETAIL</a></div>
    </div>
  </div>
</section><!-- /.p-top_wrap04 -->

<section class="p-top_wrap05">
  <div class="inner">
    <div class="head-ttl">
      <p class="sub-ttl anime-ttl01">LINE UP</p>
      <h2 class="fadeIn">商品ラインナップ</h2>
    </div><!-- /.head-ttl -->
    <div class="cate-box budget">
      <h3 class="fadeIn"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-money.svg" alt="">予算で選ぶ</h3>
      <ul>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/price_0-3999/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-1.png" alt=""></div>
            <p>~3,999円<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/price_4000-9999/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-2.png" alt=""></div>
            <p>4,000円~9,999円<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/price_10000/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-3.png" alt=""></div>
            <p>10,000円~<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
      </ul>
    </div><!-- /.cate-box -->
    <div class="cate-box items">
      <h3 class="fadeIn"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-meat.svg" alt="">商品で選ぶ</h3>
      <ul>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/item-set/">
            <div class="img-box obj-fit">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-1_sp.png" media="(max-width: 769px)">
                <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-1.png" alt="">
              </picture>
            </div>
            <p>セット<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/item-single/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-2.png" alt=""></div>
            <p>単品<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/item-marinate/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-3.png" alt=""></div>
            <p>タレ漬け<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
        <li class="fadeIn">
          <a class="h-scale" href="/collections/item-saucefree/">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-4.png" alt=""></div>
            <p>タレなし<img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/arrow02.svg" alt=""></p>
          </a>
        </li>
      </ul>
    </div><!-- /.cate-box -->
    <div class="btn-wrap fadeIn"><a href="/collections/all/" class="btn01">VIEW ALL</a></div>
  </div>
</section><!-- /.p-top_wrap05 -->

<div class="sec-visual-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg01.jpg" alt=""></div>
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg02.jpg" alt=""></div>
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg03.jpg" alt=""></div>
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg04.jpg" alt=""></div>
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg05.jpg" alt=""></div>
    <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-slideimg06.jpg" alt=""></div>
  </div>
</div><!-- /.sec-visual-swiper -->

<section class="common_wrap-faq">
  <div class="inner">
    <div class="head-ttl">
      <p class="sub-ttl">FAQ</p>
      <h2 class="fadeIn">よくあるご質問</h2>
    </div><!-- /.head-ttl -->
    <div class="flex">
      <div class="box fadeIn">
        <a href="/pages/faq#order">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-order.svg" alt="">
          <p>注文・支払いについて</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/pages/faq#shipping">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-shipping.svg" alt="">
          <p>配送・送料について</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/pages/faq#return">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-return.svg" alt="">
          <p>返品・交換について</p>
        </a>
      </div><!-- /.box -->
    </div><!-- /.flex -->
  </div><!-- /.inner -->
</section><!-- /.common_wrap-faq -->



{% schema %}
  {
    "name": "top-main",
    "presets": [
      {
        "name": "top-main"
      }
    ],
    "blocks": [
      {
        "type": "banner-top01",
        "name": "FVバナー",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_banner_pc",
            "label": "PC画像"
          },
          {
            "type": "image_picker",
            "id": "image_banner_sp",
            "label": "SP画像"
          },
          {
            "type": "url",
            "id": "link_banner",
            "label": "リンク"
          }
        ]
      },
      {
        "type": "recommend-item",
        "name": "スタッフ一推し",
        "settings": [
          {
            "type": "product",
            "id": "recommend-item",
            "label": "商品を選択"
          }
        ]
      }
    ]
  }
{% endschema %}